

<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p><%= message %></p>
        <a href="/listings" class="btn btn-primary mt-3">Go Back to Listings</a>
    </div>
</div>
